@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* Estilos generales */
body {
    font-family: 'Merriweather', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {
    background-color:rgba(100, 100, 100, 0.1);
    color: white;
    padding: 20px 0;
    text-align: center;
    backdrop-filter: blur(2px);
    width: 100%;
    z-index: 1;
    position: sticky;
    top: 0;
}
header i {
    margin-right: 8px;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 400;
}

main {
    padding-top: 80px;
}
/* Sección de video de fondo */
main section {
    padding: 20px;
    text-align: center;
}

.bg-video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.2); 
}
.overlay-content {
    position: relative;
    color: white;
    text-align: center;
    padding: 100px 20px;
    z-index: 1;
}

/* Enlace activo */
.active {
    font-weight: bold;
    text-decoration: underline;
}

/* Media query para pantallas pequeñas */
@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
        gap: 10px;
        justify-content: space-evenly;
    }
}

/* Contenedor de logo */
.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Espacio entre el icono y el título */
}

/* Estilo para el ícono y el título */
.logo-container i {
    font-size: 1.5em; /* Tamaño del ícono */
}

.logo-container h1 {
    font-size: 1.5em; /* Tamaño del título */
    margin: 20px; /* Elimina el margen para mejor alineación */
}
